@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300&display=swap');



:root{
    font-size: 16px;
    --btn:#7B2ABF;
    --bg-entry:#F7F7F7;
    --font-color-entry:#797979;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    list-style: none;
    outline: none;
    font-family: 'Commissioner', Arial, Helvetica, sans-serif;

}


.app{
    max-width: 1920px;
}

.app .header{
    width: 100%;
    text-align: center;
}
.app .header-cart{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.app .main{
    width: 100%;
    padding: 1rem;
}

.main .login{
    max-width: 100%;
    text-align: center;
}

.main .login .submit, .entry{
    max-width: 100%;
}

.app .movie{
    max-width: 100%;
    display: flex;
    margin: 1rem;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content:space-evenly;
    /* align-items: center; */
}

.app .movie .img{
    width: 40%;
    border-radius: 1rem;
    object-fit: cover;
}
.app .check{
    max-width: 100%;
}

.app .check > div{
    max-width: 100%;
}

.app .check .details{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}
.app .check .chk-btn{
    padding: 1rem;
    text-align: center;
}


.app .order{
    max-width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.chk-btn .btn-check{
    background-color:var(--btn);
    color: white;
    width: 100%;
    padding: 0.6rem;
    border-radius: 0.3rem;
}




.app .movie .title{
    max-width: 50%;
    width: 40%;
}
.entry{
    width: 80%;
    border: 1px solid;
    padding: 0.3rem;
    border-radius: 0.5rem;
    color:var(--font-color-entry)
    
}


.submit{
    width: 80%;
    color:white;
    background-color: var(--btn);
    padding:0.5rem;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
}



@media (min-width:768px){
    .main .login{
        max-width: 100%;
    }
    .main .login .submit, .entry{
        max-width: 40%;
    }
    .app .movie .img{
        width: 25%;
    }
    .app .check .details{
        justify-content:space-evenly;
    }
}
@media (min-width:1024px){
    .main .login .submit, .entry{
        max-width: 30%;
    }

}
@media (min-width:1280px){
    .main .login{
        max-width: 100%;
    }
    .main .login .submit, .entry{
        max-width: 25%;
    }
}
