#app{
    width:1920px;
}
.movies{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.container-ctgs{
    position: relative;
}
.categories{
    position: absolute;
    border: 1px solid black;
    background-color: white;
    transform: translate(-1000px);
    transition: all 0.5s ease;
    height: 100vh;
    width: 100vw;  
}
.on{
    transform:translate(0);
}
a{
    display: inline-block;
}

.movies .movie{
    text-align: center;
    width: 60%;
/* border: 1px solid; */
}
.movies .movie .imgmovie{
    width: 100%;
}

@media(max-width:375px){
    #app{
        width: 100%;
}
}