@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300&display=swap');



:root{
    font-size: 16px;
    /* --btn:#7B2ABF;
    --bg-entry:#F7F7F7;
    --font-color-entry:#797979; */ 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    list-style: none;
    outline: none;
    font-family: 'Commissioner', Arial, Helvetica, sans-serif;

}

.app{
    max-width: 1920px;
}

.app .main{
    max-width: 100%;
}


.app .main .movie{
    width: 100%;
}

.main .movie .img{
    max-width: 100%;
    width: 60%;
    object-fit: cover;
}


