
*{
    font-size: 16px;
}
#app{
    width:1920px;
}
.movies{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

a{
    display: inline-block;
}

.movies .movie{
    text-align: center;
    width: 60%;
    border: 1px solid;
}
.movies .movie .imgmovie{
    width: 90%;
}

@media(max-width:375px){
    #app{
        width: 100%;
    }
}