@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300&display=swap');



:root{
    font-size: 16px;
    --btn:#7B2ABF;
    --bg-entry:#F7F7F7;
    --font-color-entry:#797979;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    list-style: none;
    outline: none;
    font-family: 'Commissioner', Arial, Helvetica, sans-serif;

}


.app{
    max-width: 1920px;
}

.app .carrousel{
    width: 100%;
    border: 1px solid;
    display: flex;
}

.app .carrousel > img{
    width: 80%;
    
}
.left{
    transform: rotate(-180deg);
}

.app .movie{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    max-width: 100%;
} 
.app .carrousel{
    display: flex;
}
.app .carrousel .dom-arrow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.app .carrousel .imgs .movie-card{
    max-width: 80%;
    width: 50%;
    /* border:1px solid red; */
}

.app .carrousel .imgs{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 1rem;
}

.app .carrousel .imgs .movie-card > img{
    width:350px;
    height: 200px;
    object-fit: cover;
    border-radius: 5%;
}
/* .app .recommends{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    overflow-x:scroll;
} */
.app .movie .overview{
    width: 80%;
}
.app .movie > img {
    width: 50%;
    object-fit: cover;
}

.app .recommends .movie{
    max-width: 100%;
    /* object-fit:cover; */
}

.app .recommends .movie > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.circle{
    height: 5vh;
    width: 2%;
    border: 1px solid;
    border-radius: 50%;
}

